{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Crear/Editar Publicación</h1>
    <form method="post" enctype="multipart/form-data"> <!-- Asegúrate de incluir enctype -->
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        {% if form.image %}
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
