<!-- contacto/templates/contacto/contacto.html -->
{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Página de Contacto</h1>

    <!-- Mensajes flash -->
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'contacto:contacto' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_nombre">Nombre</label>
                {{ form.nombre }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_email">Correo Electrónico</label>
                {{ form.email }}
            </div>
        </div>
        <div class="form-group">
            <label for="id_mensaje">Mensaje</label>
            {{ form.mensaje }}
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
    
    

    <div class="mt-5">
        <h2>Contacto en Redes Sociales</h2>
        <a href="https://www.facebook.com/tu_usuario" class="btn btn-primary mr-2" target="_blank">
            <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a href="https://www.instagram.com/tu_usuario" class="btn btn-danger mr-2" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://wa.me/tu_numero" class="btn btn-success mr-2" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a href="mailto:tu_correo@example.com" class="btn btn-secondary">
            <i class="fas fa-envelope"></i> Correo Electrónico
        </a>
    </div>
</div>
{% endblock %}
