{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h2>Actualizar Perfil</h2>
    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.non_field_errors }}
        </div>
        <div class="mb-3">
            {{ form.first_name.label_tag }}
            <input type="text" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" class="form-control" value="{{ form.first_name.value }}" {% if form.first_name.errors %} aria-invalid="true"{% endif %}>
            {{ form.first_name.errors }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label_tag }}
            <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" class="form-control" value="{{ form.last_name.value }}" {% if form.last_name.errors %} aria-invalid="true"{% endif %}>
            {{ form.last_name.errors }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }}
            <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control" value="{{ form.email.value }}" {% if form.email.errors %} aria-invalid="true"{% endif %}>
            {{ form.email.errors }}
        </div>
        <div class="mb-3">
            {{ form.address.label_tag }}
            <input type="text" name="{{ form.address.name }}" id="{{ form.address.id_for_label }}" class="form-control" value="{{ form.address.value }}" {% if form.address.errors %} aria-invalid="true"{% endif %}>
            {{ form.address.errors }}
        </div>
        <div class="mb-3">
            {{ form.phone_number.label_tag }}
            <input type="text" name="{{ form.phone_number.name }}" id="{{ form.phone_number.id_for_label }}" class="form-control" value="{{ form.phone_number.value }}" {% if form.phone_number.errors %} aria-invalid="true"{% endif %}>
            {{ form.phone_number.errors }}
        </div>
        <div class="mb-3">
            {{ form.profile_picture.label_tag }}
            <input type="file" name="{{ form.profile_picture.name }}" id="{{ form.profile_picture.id_for_label }}" class="form-control" {% if form.profile_picture.errors %} aria-invalid="true"{% endif %}>
            {{ form.profile_picture.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
