{% extends 'base.html' %}

{% block title %}Carrito{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Carrito de Compras</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito_items %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.producto.precio }}</td>
                    <td>${{ item.subtotal }}</td>
                    <td>
                        <a href="{% url 'carrito:quitar_del_carrito' item.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total: ${{ total }}</h3>
        <a href="{% url 'productos:lista_productos' %}" class="btn btn-primary">Seguir Comprando</a>
        <div id="card-element" class="my-4"></div>
        <button id="pagar" class="btn btn-success">Proceder al Pago</button>
    </div>

    <!-- Agregar el script de Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Inicializar Stripe con tu clave pública
            var stripe = Stripe('pk_test_51PloNTP4XqZnHYnT13sgpkHJcGDa2deegW4Obyr1OfenNIf5UXD12TJlGGVpd0WAw7LBKYmzV55bAUOMcCti4tzY00DhnjgCoB'); 

            var elements = stripe.elements();
            var cardElement = elements.create('card'); 
            cardElement.mount('#card-element'); 

            document.getElementById('pagar').addEventListener('click', function(e) {
                e.preventDefault(); 

                fetch("{% url 'carrito:create_payment_intent' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({
                        amount: Math.round(parseFloat("{{ total|floatformat:2 }}") * 100) 
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert("Hubo un problema al procesar tu pago: " + data.error); 
                    } else {
                        stripe.confirmCardPayment(data.clientSecret, {
                            payment_method: {
                                card: cardElement 
                            }
                        }).then(function(result) {
                            if (result.error) {
                                alert("Error en el pago: " + result.error.message); 
                            } else {
                                if (result.paymentIntent.status === 'succeeded') {
                                    window.location.href = "{% url 'carrito:success' %}";
                                }
                            }
                        });
                    }
                })
                .catch(error => {
                    console.error("Error en la comunicación con el servidor:", error);
                    alert("Error en la comunicación con el servidor. Inténtalo de nuevo más tarde.");
                });
            });
        });
    </script>
{% endblock %}
